.post-text-wrapper { /*two lines*/
    overflow: hidden;
    position: relative;
    height: 90px;
    margin: 10px 10px 10px 10px; 
    line-height: 18px;
    font-size: 0.9rem;
    /* height must be a multiple of line-height for how many rows you want to show (height = line-height x rows) */
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    word-wrap: break-word;
}

.post-text-wrapper-fade {
    position: absolute;
    top: 80%;/* only cover the last line. If this wrapped to 3 lines it would be 33% or the height of one line */
    right: 0;
    bottom: 0;
    width: 40px;
    background: linear-gradient(to right,  rgba(255,255,255,0.5) 0%, rgba(255,255,255,1) 100%);
}