.post-create-widget {
    margin-bottom: 20px; 
    text-align: right;
}

.post-create-widget .post-text {
    width: 100%; 
    border: none;
    box-sizing: border-box;
    height: 26px;
    overflow-x: hidden;
    outline: none;
}
