<div class="container">

    <div class="page-path">
        <a href="#">Главная</a>&nbsp;&nbsp;/&nbsp;&nbsp;Участники
    </div>

    <table class="table table-striped" style="width:100%">
        <thead>
            <tr>
            </tr>
        </thead>
        <tbody class="users">
        </tbody>
    </table>

</div>
