<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no'>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title><%= title %></title>

    <script id="layout-template" type="text/html">
		<div id="top-region"></div>
		<div id="navbar-region"></div>
		<div id="content-region"></div>
		<div id="footer-region"></div>
	</script>

	<style>
		.navbar-brand {
    		font-size: large;
		}
	</style>

    <script src="/js/bower_components/requirejs/require.js" data-main="/js/request-main"></script>
</head>

<body>
</body>

</html>
