.targets-widget {
    list-style: none;
    word-wrap: break-word;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

.targets-widget > li {
    padding-top: 6px;
    padding-right: 20px;
    padding-bottom: 6px;
    padding-left: 5px;
    border-bottom: 1px solid #dedede;
}

.targets-widget > li {
    width: 100%;
    display: block;
}

.targets-widget > li span {
    cursor: pointer;
}
