<div class="container padding-top padding-bottom">
    <div class="row-fluid" style="display: flex; align-items: center; flex-wrap: wrap">
        
        <!--
        <div style="padding: 5px;">
            <%if (phone) { %>
                <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> <%= phone %><br>
            <% } %>

            <%if (email) { %>
                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> <%= email %>
            <% } %>
        </div>
        -->


        <div class="" style="display: flex; flex-direction: column; padding: 5px 10px 5px 5px">
            <!-- <a href="/about">О проекте</a> -->
            <!-- <a href="/forum">Форум</a> -->
        </div>

        <div class="social-links-wrapper" style="padding: 5px;">
            <%if (vk) { %>
                <a href="<%= vk %>" target="_blank"><i class="fa fa-vk"></i></a>
            <% } %>
            <%if (facebook) { %>
                <a href="<%= facebook %>" target="_blank"><i class="fa fa-facebook"></i></a>
            <% } %>
            <%if (ok) { %>
                <a href="<%= ok %>" target="_blank"><i class="fa fa-odnoklassniki"></i></a>
            <% } %>
            <%if (youtube) { %>
                <a href="<%= youtube %>" target="_blank"><i class="fa fa-youtube"></i></a>
            <% } %>
            <%if (instagram) { %>
                <a href="<%= instagram %>" target="_blank"><i class="fa fa-instagram"></i></a>
            <% } %>
        </div>


        <div class="footer-store-links-wrapper" style="padding: 5px;">
            <%if (typeof itunes != "undefined" && itunes) { %>
                <a href="<%= itunes %>" target="_blank" style="margin-right: 7px;">
                    <img src="/img/buttons/itunes-ru.png">
                </a>
            <% } %>

            <%if (typeof play != "undefined" && play) { %>
                <a href="<%= play %>" target="_blank">
                    <img src="/img/buttons/play-ru.png">
                </a>
            <% } %>
        </div>
    </div>
</div>

<!--
<div class="container padding-top padding-bottom">
    <div class="row-fluid" style="display: flex; align-items: flex-start; flex-wrap: wrap">
        
        <div class="" style="display: flex; flex-direction: column; padding: 10px;">
            <h4>Натурометр</h4>
            <a href="/about" rel="nofollow">О проекте</a>
            <a href="/forum" rel="nofollow">Форум</a>
        </div>

        <div class="" style="display: flex; flex-direction: column; padding: 10px;">
            <h4>Скачать приложение</h4>
            <div class="footer-store-links-wrapper" style="">
                <%if (typeof itunes != "undefined" && itunes) { %>
                    <a href="<%= itunes %>" target="_blank" style="margin-right: 7px;">
                        <img src="/img/buttons/itunes-ru.png">
                    </a>
                <% } %>

                <%if (typeof play != "undefined" && play) { %>
                    <a href="<%= play %>" target="_blank">
                        <img src="/img/buttons/play-ru.png">
                    </a>
                <% } %>
            </div>
        </div>

        <%if (phone) { %>
            <div style="padding: 10px;">
                <%if (phone) { %>
                    <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> <%= phone %><br>
                <% } %>

                <%if (email) { %>
                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> <%= email %>
                <% } %>
            </div>
        <% } %>

        <div class="" style="display: flex; flex-direction: column; padding: 10px;">
            <h4>Мы в соцсетях</h4>
            <div class="social-links-wrapper" style="">
                <%if (vk) { %>
                    <a href="<%= vk %>" target="_blank"><i class="fa fa-vk"></i></a>
                <% } %>
                <%if (facebook) { %>
                    <a href="<%= facebook %>" target="_blank"><i class="fa fa-facebook"></i></a>
                <% } %>
                <%if (ok) { %>
                    <a href="<%= ok %>" target="_blank"><i class="fa fa-odnoklassniki"></i></a>
                <% } %>
                <%if (youtube) { %>
                    <a href="<%= youtube %>" target="_blank"><i class="fa fa-youtube"></i></a>
                <% } %>
                <%if (instagram) { %>
                    <a href="<%= instagram %>" target="_blank"><i class="fa fa-instagram"></i></a>
                <% } %>
            </div>
        </div>
    </div>
</div>
-->