/* override padding for the footer */
#content-region {
	padding-bottom: 200px;
}

.social-links-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-links-wrapper a {
    display: block;
    background-color: #222;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    color: #fff;
    outline: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    text-align: center;
    margin: 5px;
}

.social-links-wrapper a:active, .social-links-wrapper a:focus, .social-links-wrapper li a:hover {
    background-color:steelblue;
}

.footer-store-links-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-store-links-wrapper img {
    width: 135px;
    height: auto;
}
