<div class="container">

	<h2>Команды</h2>
    <p>Команды, в которых вы являетесь администратором.</p>

	<div class="page-path">
        &nbsp;

		<a class="btn btn-success create page-path-button" role="button">
			Создать команду
		</a>
	</div>

	<table class="table table-striped" style="width:100%">
		<thead>
			<tr>
				<th>Имя</th>
			</tr>
		</thead>
		<tbody class="groups">
		</tbody>
	</table>
</div>
