<div class="container">
    
    <h2>Приглашение</h2>
    
    <div class="page-path">

        <a href="/groups">Главная</a>&nbsp;&nbsp;/&nbsp;&nbsp;<a href="/groups">Команды</a>
            &nbsp;&nbsp;/&nbsp;&nbsp;<a href="/groups/<%= group._id %>"><%= group.name %></a>
            &nbsp;&nbsp;/&nbsp;&nbsp;Приглашение

        <%if (created()) { %>
            <a class="btn btn-danger delete page-path-button" role="button">Удалить</a>
        <% } else{ %>  
            <a class="btn btn-success send page-path-button" role="button">Отправить</a>
            <a href="/groups/<%= group._id %>" class="btn btn-default cancel page-path-button" role="button">Отмена</a>
        <% } %>
    </div>

    <div class="alert alert-danger" style="display:none"></div>

    <form class="form form-horizontal" accept-charset="UTF-8" autocomplete="off">
        
        <div class="form-group">
            <label for="displayName" class="col-sm-3 control-label">Ф.И.О.</label>
            <div class="col-sm-6">
                <input name="displayName" id="displayName" type="text" class="form-control" value="<%= displayName %>"
                    <% if (created()) { %>
                        readonly
                    <% } %> >
            </div>
        </div>

        <div class="form-group">
            <label for="department" class="col-sm-3 control-label">Отдел</label>
            <div class="col-sm-6">
                <input name="department" id="department" type="text" class="form-control" value="<%= department %>"
                    <% if (created()) { %>
                        readonly
                    <% } %> >
            </div>
        </div>

        <div class="form-group">
            <label for="position" class="col-sm-3 control-label">Должность</label>
            <div class="col-sm-6">
                <input name="position" id="position" type="text" class="form-control" value="<%= position %>"
                    <% if (created()) { %>
                        readonly
                    <% } %> >
            </div>
        </div>

        <div class="form-group">
            <label for="email" class="col-sm-3 control-label">Email</label>
            <div class="col-sm-6">
                <input name="email" id="email" type="text" class="form-control" value="<%= email %>"
                    <% if (created()) { %>
                        readonly
                    <% } %> >
            </div>
        </div>
        
        <%if (created()) { %>
            <div class="form-group">
                <label for="status" class="col-sm-3 control-label">Статус</label>
                <div class="col-sm-6">
                    <input name="status" id="status" type="text" class="form-control" value="<%= status() %>"
                        <% if (created()) { %>
                            readonly
                        <% } %> >
                </div>
            </div>
        <% } %>

    </form>

</div>
