<td width="50%">
    <% if(typeof inviteId != 'undefined'){ %>
        <a href="/invites/<%= inviteId %>"><%= displayName %></a>
    <% } else{ %>  
        <a href="/users/<%= _id %>"><%= displayName %></a>
    <% } %>
</td>

<td width="50%">
    <div class="dropdown">
        <%= menu() %>
    </div>
</td>
