<div class="container">

	<h2><%= displayName %></h2>
	
	<div class="page-path">
		<a href="/groups">Главная</a>&nbsp;&nbsp;/&nbsp;&nbsp;<a href="/users">Пользователи</a>
            &nbsp;/&nbsp;&nbsp;<%= displayName %>

		<a class="btn btn-danger delete page-path-button button" role="button">Удалить</a>
		<a class="btn btn-success save page-path-button button" role="button">Сохранить</a>
        <a class="btn btn-default cancel page-path-button button" role="button">Отмена</a>
	</div>

	<div class="alert alert-danger" style="display:none"></div>

	<form class="form form-horizontal" accept-charset="UTF-8" autocomplete="off">
            <div class="form-group">
                <label for="name" class="col-sm-3 control-label">Имя пользователя</label>
                <div class="col-sm-6">
                    <input name="name" id="name" type="text" class="form-control" value="<%= name %>"
                        <% if (created()) { %>
                            readonly
                        <% } %> >
                </div>
            </div>

            <div class="form-group">
                <label for="displayName" class="col-sm-3 control-label">Отображаемое имя</label>
                <div class="col-sm-6">
                    <input name="displayName" id="displayName" type="text" class="form-control" value="<%= displayName %>">
                </div>
            </div>

            <div class="form-group">
                <label for="department" class="col-sm-3 control-label">Подразделение</label>
                <div class="col-sm-6">
                    <input name="department" id="department" type="text" class="form-control" value="<%= department %>">
                </div>
            </div>

            <div class="form-group">
                <label for="position" class="col-sm-3 control-label">Должность</label>
                <div class="col-sm-6">
                    <input name="position" id="position" type="text" class="form-control" value="<%= position %>">
                </div>
            </div>

            <div class="form-group">
                <label for="email" class="col-sm-3 control-label">Email</label>
                <div class="col-sm-6">
                    <input name="email" id="email" type="text" class="form-control" value="<%= email %>"
                        <% if (created()) { %>
                            readonly
                        <% } %> >
                </div>
            </div>

            <div class="form-group">
                <label for="social" class="col-sm-3 control-label">Соцсеть</label>
                <div class="col-sm-6">
                    <input name="social" id="social" type="text" class="form-control" value="<%= social %>">
                </div>
            </div>

            <div class="form-group">
                <label for="socialId" class="col-sm-3 control-label">Id в соцсети</label>
                <div class="col-sm-6">
                    <input name="socialId" id="socialId" type="text" class="form-control" value="<%= socialId %>">
                </div>
            </div>
	</form>
</div>
