.flow-gallery-widget {
    list-style: none;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    height: 100%; /* or limit max height */
    width: 100%;

    display: flex;
    flex-wrap: wrap;
}

.flow-gallery-widget > li {
	display: inline-block;
    padding: 10px 20px 10px 0px;
}


@media (max-width: 767px) {
    .flow-gallery-widget > li {
        padding: 10px 0px 10px 0px;
    }
}


.flow-gallery-widget > li a {
    text-decoration:none; 
     
}

.flow-gallery-widget > li a:hover {
    text-decoration:none; 
    cursor:pointer;  
}

.flow-gallery-widget > li a .post-text-wrapper {
    color: black; 
}

.flow-gallery-widget > li a:hover .post-text-wrapper {
}

.item-wrapper {
    position: relative;
    padding: 5px;
    background-color: white;
    border: 1px solid white;
}

.item-wrapper:hover {
    border: 1px solid lightgrey;
}

.image-wrapper {
	position: relative;
	display: flex;
	justify-content: center;
    cursor: pointer;
	height: 250px;
    min-height: 200px;
}

.image-wrapper img {
	max-height: 100%;
    max-width: 100%;
    margin: auto;
}

.text-wrapper {
	width: 100%;
    height: 80px;
}

.text-wrapper h3 {
    font-size: 14px;
    line-height: 1.5em;
    height: 3em;
    overflow: hidden; 
}

.flow-gallery-widget .item-wrapper .image-edit {
    display: none;
    position: absolute;
    z-index: 999;
    height: 30px;
    width: 30px;
    color: #333;
    font-size: 25px;
    line-height: 25px;
    outline: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    text-align: center;
    cursor: pointer;
    text-shadow: 1px 0px 1px white;
}

.flow-gallery-widget[can-select] .item-wrapper .image-select {
    display: block;
    right: 5px;
    bottom: 5px;
}

.flow-gallery-widget[can-select] .item-wrapper .image-select[selected] {
    color: steelblue;
}

.flow-gallery-widget[can-rotate] .item-wrapper .image-rotate {
    display: block;
    left: 5px;
    bottom: 5px;
}

.flow-gallery-widget[can-scan] .item-wrapper .image-scan {
    display: block;
    left: 5px;
    top: 5px;
}

.flow-gallery-widget[can-delete] .item-wrapper .image-delete {
    display: block;
    top: 5px;
    right: 5px;
}

.flow-gallery-widget[fullHeight] .image-wrapper {
    height: unset;
}
