html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    background: #f6f6f6;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,sans-serif; /*Roboto,*/
    font-size: 14px;
    line-height: 1.5;
    color: #333;
}

* {
    -webkit-overflow-scrolling: touch;
}

#region-wrapper {
	min-height: 100%;
	position: relative;
}

#footer-region {
	position: absolute;
	width: 100%;
	background-color: #e7e7e7;
	bottom: 0;
	left: 0;
}

/* --- modals -------------------------------------------- */
@media (min-width: 768px) {
	.modal-xl {
		width: 90%;
		max-width:1200px;
	}
}

.modal {
    z-index: 2010;
}

@media (min-width: 768px) {
    .modal {
        padding-top: 100px;
    }
}

/*
.modal-body {
    padding: 0;
}

.modal-footer {
    text-align: left;
}
*/

/* --- flow-gallery --------------------------------------- */
.flow-gallery-item {
	padding: 10px 10px 20px 10px;
}

.flow-gallery-item a {
	text-decoration: none;
}

.flow-gallery-item .flow-gallery-item-info {
	position: relative;
	cursor: default;
    text-shadow: none;
    text-align: left;
    top: 12%;
    left: 5%;
    bottom: unset;
    max-width: 80%;
    color: #fff;
}

.flow-gallery-item .flow-gallery-item-title {
	font-size: 1.6rem;
    text-shadow: 1px 1px 1px black;
}

.flow-gallery-item .flow-gallery-item-description {
	font-size: 1.0rem;
}

/* --- padding helpers------------------------------------- */

.padding-top {
	padding-top: 20px;
}

.padding-bottom {
	padding-bottom: 20px;
}

.padding-around {
	padding: 20px;
}

.half-padding-top {
	padding-top: 10px;
}

.half-padding-bottom {
	padding-bottom: 10px;
}

@media (max-width: 767px) {
    .padding-top {
        padding-top: 10px;
    }

    .padding-bottom {
        padding-bottom: 10px;
    }

    .padding-around {
        padding: 10px;
    }

    .half-padding-top {
        padding-top: 5px;
    }

    .half-padding-bottom {
        padding-bottom: 5px;
    }
}

.navbar {
	margin-bottom: 0px;
    background-color: white;
    padding-top: 10px;
}

.h1, h1 {
    font-size: 22px;
}

.h2, h2 {
    font-size: 20px;
}

.h3, h3 {
    font-size: 18px;
}

.h4, h4 {
    font-size: 16px;
}

.btn-group-lg>.btn, .btn-lg {
    font-size: 16px;
}

/*
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Roboto";
}
*/

@media (max-width: 767px) {
	.navbar-form {
        border: none;
        margin: 0;
	}
}

.page-path {
    margin-top: 20px;
    margin-bottom: 20px;
}

.page-path-button {
    float: right;
    margin-left: 7px;
    margin-top: -7px;
}

@media (max-width: 767px) {
    .page-path-button {
        float: none;
        display: flex;
        margin-top: 7px;
        margin-bottom: 7px;
        margin-left: 0px;
    }
}

.widget {
	position: relative;
    background-color: white;
    border-radius: 2px;
    overflow: visible;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    width: 100%;
    height: 100%;
}

.widget .widget_header {
    border-bottom: solid 1px transparent;
    box-shadow: 0 0 10px #DDD;
}

.widget .widget_operations {
    float: right;
    font-style: italic;
    font-size: 11px;
}

.widget .widget_operations a {
    text-decoration: none;
    font-size: 17px;
    line-height: 17px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

/*
.widget h3 {
    padding: 12px 20px 8px;
    color: #777;
    font-size: 15px;
    line-height: 24px;
    display: inline-block;
	margin: 0;
	width: 100%;
}
*/

.widget h3 a {
    text-decoration: none;
}

.widget .widget_inside {
    padding: 10px 20px 15px 20px;
}

.padded-wrapper {
    padding: 10px 10px 10px 10px;
}

@media (min-width: 768px) {
    .padded-wrapper {
        padding: 10px 20px 10px 20px;
    }
}

/*
.widget table {
    margin-bottom: 0px;
}

.widget table th {
    font-size: 12px;
    line-height: 14px;
    color: #777;
    font-style: italic;
    font-weight: normal;
    vertical-align: top !important;
}

.widget td.field_name {
    color: #777;
    font-size: 11px;
    width: 50%;
    padding-left: 0px;
    padding-right: 10px;
    vertical-align: middle;
}

.widget td.field_value {
	color: #333;
    font-size: 13px;
    width: 50%;
    vertical-align: middle;
}

.widget table tr td {
    border-top: none;
    padding-top: 2px;
    padding-bottom: 2px;
}

.widget tr.delimiter td div {
    color: #444;
    border-bottom: solid 1px #eee;
    padding-top: 12px;
    margin-bottom: 8px;
    padding-bottom: 4px;
}

.widget tr.delimiter td {
    padding-left: 0px;
}
*/

/*
ul {
    padding-left: 0;
    list-style: outside url(/img/ul_marker.gif) disc;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 0px;
}
*/

/*
h3 {
    font-size: 18px;
    line-height: 27px;
}
*/

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

/* --- disable gray fields --------------------------------- */
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: white;
    opacity: 1;
}

.form-control {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

input[type=text],
input[type=email],
input[type=password],
textarea {
    -webkit-appearance: none;
}

/* --- editable form --------------------------------------- */
.editableform .form-control {
    width: 100% !important;
    max-width: 100% !important;
    font-size: 13px;
}

.editableform .editable-input {
	margin-top: -2px;
    margin-left: -11px;
}

.editable-click, a.editable-click, a.editable-click:hover {
    color: #333;
    border-bottom: none !important;
}

a.disabled {
   color: #aaa;
   pointer-events: none;
   cursor: default;
}

.editable-empty, .editable-empty:hover, .editable-empty:focus {
    color: #333 !important;
}

/* td operation icons */
td a.icon {
    text-decoration: none; 
    font-size: 19px; 
    line-height: 19px; 
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

/* --- form-group ------------------------------------------ */
.form-group input[type="checkbox"] { 
	vertical-align: -2px; 
	margin-right: 7px;
}

.form-group input[type="radio"] { 
    display: none !important;
}

.form-group p { font-size: small; }
.form-group select { 
	margin-top: 5px;
	height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.form-group label.radio { 
	margin-top: 0px !important;
    margin-bottom: 0px !important;
    font-size: 15px;
    font-weight: normal;
}

/* --- pane button ----------------------------------------- */
.pane-button {
	margin-left: 10px;
}

a.pane-button {
	text-decoration: none; 
	font-size: 20px; 
	line-height: 20px; 	
}

.pane-button span {
	font-size: 15px; 
	line-height: 15px; 
	text-decoration: none;
}

/* --- pane left menu -------------------------------------- */
.left_menu {
    padding-bottom: 12px;
    background-color: #fff;
    margin-bottom: 20px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
}

.left_menu .nav-list {
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 0;
}

.left_menu .nav-list .divider {
    height: 1px;
    margin: 9px 1px;
    overflow: hidden;
    background-color: #e5e5e5;
}

.left_menu .nav-list>li>a {
    padding: 3px 15px;
}

.left_menu .nav-list>li>a, .nav-list .nav-header {
    margin-right: -15px;
    margin-left: -15px;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}

.left_menu .nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.left_menu .nav-list>.active>a, .nav-list>.active>a:hover, .nav-list>.active>a:focus {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
    background-color: #0088cc;
}

.left_menu .nav-list>li>a {
    padding: 3px 15px;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -moz-binding: url(/ellipsis-xbl.xml#ellipsis);
}

.no-select {
	-webkit-user-select: none;  /* Chrome all / Safari all */
  	-moz-user-select: none;     /* Firefox all */
  	-ms-user-select: none;      /* IE 10+ */
  	user-select: none;
}

.vertically-flipped {
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.navbar-default .navbar-nav .avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.navbar-default .navbar-nav > li > a.dropdown-toggle {
	cursor: pointer;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  	color:steelblue;
  	outline:0
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  	color: steelblue;
    background-color: white;
}

.navbar-nav > li > a {
    line-height: 24px;
}

.navbar-nav .open .dropdown-menu > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-toggle {
    border: none;
    background: transparent !important;
}

.navbar-toggle:hover {
    background: transparent !important;
}

.navbar-toggle .icon-bar {
    width: 22px;
    transition: all 0.2s;
}

.navbar-toggle .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggle .middle-bar {
    opacity: 0;
}

.navbar-toggle .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}

.navbar-toggle.collapsed .top-bar {
    transform: rotate(0);
}

.navbar-toggle.collapsed .middle-bar {
    opacity: 1;
}

.navbar-toggle.collapsed .bottom-bar {
    transform: rotate(0);
}

.dropdown-menu {
    max-height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
}

.form-horizontal .checkbox, 
.form-horizontal .checkbox-inline, 
.form-horizontal .radio, 
.form-horizontal .radio-inline {
    padding-bottom: 5px;
}


/* fadein */

.fadein {
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

/* line-clamp */
.line-clamp
{
    display            : block;
    display            : -webkit-box;
    -webkit-box-orient : vertical;
    position           : relative;

    line-height        : 1.2;
    overflow           : hidden;
    text-overflow      : ellipsis;
    padding            : 0 !important;
}
.line-clamp:after
{
    content    : '...';
    text-align : right;
    bottom     : 0;
    right      : 0;
    width      : 25%;
    display    : block;
    position   : absolute;
    height     : calc(1em * 1.2);
    background : linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 75%);
}
@supports (-webkit-line-clamp: 1)
{
    .line-clamp:after
    {
        display : none !important;
    }
}
.line-clamp-1
{
    -webkit-line-clamp : 1;
    height             : calc(1em * 1.2 * 1);
}
.line-clamp-2
{
    -webkit-line-clamp : 2;
    height             : calc(1em * 1.2 * 2);
}
.line-clamp-3
{
    -webkit-line-clamp : 3;
    height             : calc(1em * 1.2 * 3);
}
.line-clamp-4
{
    -webkit-line-clamp : 4;
    height             : calc(1em * 1.2 * 4);
}
.line-clamp-5
{
    -webkit-line-clamp : 5;
    height             : calc(1em * 1.2 * 5);
}
/* eo line-clamp */

i.fa-reverse {
  -webkit-transform:rotateY(180deg);
  -moz-transform:rotateY(180deg);
  -o-transform:rotateY(180deg);
  -ms-transform:rotateY(180deg);
}

.soon-button {
    position: absolute;
    right: 0;
    border-radius: 50%;
    background-color: orange;
    width: 80px;
    height: 80px;
    text-decoration: none !important;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 25px;
    font-size: 22px;
    margin: 10px;
    z-index: 2000;
}

.soon-button:hover, .soon-button:visited {
    color: white;
}

@media (max-width: 767px) {
    .soon-button {
        width: 70px;
        height: 70px;
        line-height: 18px;
        font-size: 18px;
    }
}